@cell_width: 88px; // including borders
@cell_height: 19px; // including borders

html, body {
    margin: 0;
    padding: 0;
    line-height: 1;
}

body {
    font: 14px/1 "Courier", monospace;
    color: black;
    margin: 10px;
}

#imports {
    display: inline-block;
    margin-bottom: 3px;
}
button#new-import {
    display: inline-block;
    vertical-align: top;
}

#blocks {
    position: relative;
}
.block {
    position: absolute;
    outline: 1px solid #999;

    &.flowsheets-highlighted {
        outline: 1.5px solid black;
        z-index: 1000;
        box-shadow: 0px 0px 13px rgba(0,0,0,.4);

        .name input {
            color: black;
            background-color: yellow;
        }
        .code {
            border-top: 1px solid #999;
            margin-top: -1px;
        }
    }

    .menu-button {
        opacity: 0;
        position: absolute;
        top: 5px;
        left: 4px;
        width: 14px;
        color: #777;
        font-size: 9px;
        cursor: default;
    }
    &:hover .menu-button {
        opacity: .6;
    }
    .menu-button:hover {
        opacity: 1;
    }

    .menu {
        z-index: 100;
        position: absolute;
        top: 16px;
        left: 4px;
        background-color: white;
        border: 1px solid #bbb; 
        list-style: none;
        margin: 0;
        padding: 0;
        box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.24);


    }
    .menu li, .submenu li {
        padding: 6px 15px;
        cursor: default;
        font-family: "Helvetica Neue", Helvetica, sans-serif;
    }

    .menu li:hover, .submenu li:hover {
        background-color: #333;
        color: white;
    }

    .submenu {
        z-index: 100;
        background-color: white;
        border: 1px solid #bbb;
        position: absolute;
        padding: 0; 
        list-style: none;
        box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.24);

        li {
            margin: 0;
        }
    }

    .name input {
        font-weight: bold;
        font-size: 14px;
        text-align: center;
        background-color: #000;
        color: white;
    }

    .name, .code,
    .filter_clause,
    .sort_clause,
    .output {
        height: @cell_height;
        overflow: auto;
        background-color: rgba(255,255,255,.6);

        // TODO: remove and put in default viz

    }
    .name input,
    .code input,
    .filter_clause input,
    .sort_clause input {
        height: @cell_height - 2px;

        display: block;
        width: 100% - 1%;
        border: 0;
        padding: 0 3px 2px 3px;
    }
    .output {
        overflow: hidden;

        & > * {
            height: 100%;
            overflow: auto;
        }


        // a fix for linux scrollbars, apparently
        // TODO: need to figure out why scrollbars are showing up when there's only a single-line item in the output
        & > *::-webkit-scrollbar {
            display: none;
        }

        /*
        &::-webkit-scrollbar {
            -webkit-appearance: none;
            width: 7px;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background-color: rgba(0,0,0,.5);
            -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
        }
        */
    }


    .code, .filter_clause, .sort_clause {
        border-bottom: 1px solid #999;
        height: @cell_height - 1px;
        position: relative;

        .CodeMirror {
            &.is_string_concat {
                background-color: #ccc;
                font-style: italic;

                &:before {
                    content: '”';
                    position: absolute;
                    font-size: 40px;
                    opacity: .25;
                    font-family: Helvetica;
                    font-weight: bold;
                    top: -9px;
                    right: 5px;
                }

                .flowsheets-reference {
                    border: 1px solid #ddd;
                }
            }

            height: 100%;
            font-family: "Menlo", "Andale Mono", monospace;
            font-size: 12px;
            line-height: 1.3;
            background-color: white;

            .CodeMirror-scroll {
                // height: initial;
            }

            .flowsheets-reference {
                font-family: "Helvetica Neue", Helvetica, sans-serif;
                background-color: #000;
                color: white;
                font-weight: bold;
                padding: 0 3px;
                margin: 0 1px;
                border: 1px solid #ccc;
                cursor: default;

                &:hover {
                    color: black;
                    background-color: yellow;
                }
            }

        }

        .flowsheets-code-selection {
            z-index: 10;
            position: absolute;
            top: 0;
            right: 3px;
            line-height: 1.3;
            padding: 3px;

            opacity: .5;
            color: black;
            cursor: default;
            font-size: 10px;
            background-color: white;

            &:hover {
                opacity: 1;
            }
        }
    }


    .code-resizer, .visualization_options-resizer {
        position: absolute;
        z-index: 100;
        margin-top: -1.5px;
        height: 3px;
        width: 100%;
        //background-color: red;
        cursor: ns-resize;
    }


    .visualization_options {
        font-size: 11px;
        overflow: auto;
        font-family: "Helvetica Neue", Helvetica, Verdana, sans-serif;
        background-color: #eee;
        line-height: 1.38;

        border-top: 1px solid #999;
    }

    .resize-handle {
        @size: 8px;
        // background-color: red;

        width: @size;
        height: @size;
        position: absolute;
        bottom: @size/-3;
        right: @size/-3;
        cursor: nwse-resize;
    }
}

#sidebar {
    width: 500px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    border: 2px solid #ccc;
    background-color: white;
    box-shadow: -1px 0 13px rgba(0,0,0,.3);
    z-index: 100;

    h2 {
        font-family: Helvetica, Verdana, sans-serif;
        margin-left: 14px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }
    .CodeMirror {
        padding: 0 10px;
        background-color: transparent;
        height: 100%;
    }
}

/*

=== maybe how to fix codemirror styling? ===

.CodeMirror-lines {
    padding: 0; ?
}

.CodeMirror-line {
    padding: 0; ?
}

.block .code .CodeMirror {
    remove height 100%?
}

.scroll {
    padding-bottom: 0;
    height: initial?}

*/