@base: #f00;

html, body {
    margin: 0;
    padding: 0;
    line-height: 1;
}

h1 {
    color: @base;
}
body {
    font: 14px/1 "Courier", monospace;
    color: black;
}

#main {
    border-collapse: collapse;
    
    td {
        min-width: 86px;
        border: 1px solid #ddd;
        border-spacing: 0;
        padding: 8px 0;
    }

    [id^="name-"] {
        @padding-x: 2px;
        @border-x: 1px;

        text-align: center;
        background-color: #000;
        color: white;
        font: bold 15px/1.3 "Helvetica Nueue", sans-serif;
        width: 132px - 2*@padding-x - 2*@border-x;
        border: @border-x solid #eee;
        padding: 2px @padding-x; 
    }

    [id^="code-"] {
        font-family: "Menlo", "Andale Mono", monospace;
        width: 125px;
    }

    [id^="output-"] {
        font-size: 13px;
        width: 125px;
        background-color: rgba(255,255,0,1);
    }
}